doctype html 
html 
    include includes/head.pug
    body 
        .main
            h1 여행을 시작해볼까요 ?
            .enjoy
                a(href="/login")
                    button#login LOGIN 
                a(href="/join")
                    button#join JOIN