html 
    head 
        title 무-야호! | 무장애 여행코스 추천 시스템 | MUYAHO
        header 
            h2 
                i.fab.fa-accessible-icon MUYAHO!
            h2
                i.fas.fa-bars
        link(rel="stylesheet", href="styles.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous")
        
    body 
        block content