doctype html 
html 
    include includes/head.pug
    body 
        p 
            a(href="/question")
               .pt-5.pb-1.text-center
                button.btn.btn-light.btn-block(type="submit") 여행 시작하기 