doctype html 
html 
    include includes/head.pug
    bodys
        p#p1 안녕하세요~ 관광지부터 숙박까지! 
        p#p2 당신만을 위한 여행코스를 추천해드립니다.
        p#p3 밑의 버튼을 눌러 지금 바로 여행을 시작하세요!
        p 
            a(href="/question")
                button#start 여행 시작하기 