doctype html 
html 
    include includes/head.pug
    body 
    .list-group
        -var i = 0
        -for(var i =1; i<11; i++)
            a.list-group-item.list-group-item-action( aria-current='')
                .d-flex.w-100.justify-content-between
                div
                    h3.mb-1 #{i}위              관광지명
                br
                br
                div
                    img(src='https://t1.daumcdn.net/cfile/tistory/991C31365B7BE8B837' style='width : 200px; height : 200px; float:left; margin-right:20px;')
                    img(src='https://www.siheung.go.kr/portal/images/sub08/img010501_01.jpg' style='width : 200px; height : 200px; ')
                br
                br
                button.btn.btn-warning.float-right.mr-3(type="submit" ) 음식점 순위
                button.btn.btn-dark.float-right.mr-3(type="submit" data-toggle="collapse" data-parent="#accordion" href= `#${i}`) 자세히 보기
                br
                p.mb-1 총 점수 :  10점 만점에 7.096
                br
                
                br
                br
                .panel-collapse.collapse.in(id=`${i}`)
                    .panel-body
                        h6 | 상세 정보 : ??????????
                        br
                        br

                        h6 | 편의 시설 정보 : ??????
        


