doctype html 
html 
    include includes/head.pug
    body 
        .wrapper_total 
            form#form_result_total(action="/resultTour", method="get") 
                p 여기는 추천 관광코스 나올 부분이다!
                button 더 자세히 확인하기