doctype html 
html 
    include includes/head.pug 
    body 
    .list-group
        -var i = 0
        -for(var i =1; i<11; i++)
            a.list-group-item.list-group-item-action( aria-current='')
                .d-flex.w-100.justify-content-between
                div
                    h3.mb-1 #{i}위              음식점명
                br
                br
                div
                    img(src='https://www.gyeongju.go.kr/upload/content/thumb/20200429/93BDFF77B5EF4FDFAE6F61641E926F7E.jpg'  style='width : 200px; height : 200px; float:left; margin-right:20px;' )
                    img(src='https://www.gyeongju.go.kr/upload/content/thumb/20200429/93BDFF77B5EF4FDFAE6F61641E926F7E.jpg' style='width : 200px; height : 200px;' )
                
                br
                br
                button.btn.btn-info.float-right(type="submit") 호텔 순위
                button.btn.btn-dark.float-right(type="submit" data-toggle="collapse" data-parent="#accordion" href= `#${i}`) 자세히 보기
                br
                h5 총 점수 :  10점 만점에 7.096
                br
                br

                .panel-collapse.collapse.in(id=`${i}`)
                    .panel-body
                        h6 | 주소 : ???
                        br
                        br
                        br
                        br
                        h6 | 편의 시설 정보 : 휠체어 진입가능 , 승강기 있음, 장애인 전용 주차장 있음