doctype html 
html 
    include includes/head.pug 
    body 
        
        .wrapper_total 
            .container.py-3
                .title.h1.text-center 음식점 순위
                // Card Start
                .card
                    .row
                        .col-md-7.px-3
                            .card-block.px-6
                                h4.card-title 음식점 명
                                br
                                p.card-text
                                    | 음식점 내용

                            .row
                                .col-12 
                                      button.btn.btn-success.float-right(type='button' value='근처 호텔 보기') 호텔 보기
                    
                // End of card

                br
                br
                .card
                    .row
                        .col-md-7.px-3
                            .card-block.px-6
                                h4.card-title 음식점 명
                                br
                                p.card-text
                                    | 음식점 내용

                            .row
                                .col-12 
                                      button.btn.btn-success.float-right(type='button' value='근처 호텔 보기') 호텔 보기
                br
                br
                .card
                    .row
                        .col-md-7.px-3
                            .card-block.px-6
                                h4.card-title 음식점 명
                                br
                                p.card-text
                                    | 음식점 내용

                            .row
                                .col-12 
                                      button.btn.btn-success.float-right(type='button' value='근처 호텔 보기') 호텔 보기
                br
                br