doctype html 
html 
    include includes/head.pug
    body 
        p 여기는 추천 관광지 1- 10위 순위로 나올 부분이다!    
        .wrapper_total 
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_1_tour 1위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_2_tour 2위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_3_tour 3위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_4_tour 4위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_5_tour 5위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_6_tour 6위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_7_tour 7위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_8_tour 8위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_9_tour 9위
                        button 주변 음식점 살펴보기
            form#form_result_res(action="/resultRes", method="get")  
                ul.rank_total 
                    li.rank_10_tour 10위
                        button 주변 음식점 살펴보기
