doctype html 
html 
    include includes/head.pug
    body
    .list-group
        -var i = 0
        -for(var i =1; i<11; i++)
            a.list-group-item.list-group-item-action( aria-current='')
                .d-flex.w-100.justify-content-between
                div
                    h3.mb-1 #{i}위 호텔 명
                br
                br
                div
                    img.img-rounded(src='https://exp.cdn-hotels.com/hotels/1000000/20000/15100/15031/c2394f75_z.jpg?impolicy=fcrop&w=1000&h=666&q=medium' style='width : 200px; height : 200px; float:left; margin-right:20px;' )
                    img.img-rounded(src='https://exp.cdn-hotels.com/hotels/1000000/20000/15100/15031/c2394f75_z.jpg?impolicy=fcrop&w=1000&h=666&q=medium' style='width : 200px; height : 200px;' )
                        
                br
                br
                button.btn.btn-success.float-right(type="submit") 최종 코스 
                button.btn.btn-dark.float-right(type="submit" data-toggle="collapse" data-parent="#accordion" href= `#${i}`) 자세히 보기
                br
                h5 총 점수 :  10점 만점에 7.096
                br
                br
 
                .panel-collapse.collapse.in(id=`${i}`)
                    .panel-body
                        h6 | 주소 : 
                        br
                        br
                        br
                        br
                        h6 | 편의 시설 정보 : 휠체어 진입가능 , 승강기 있음, 장애인 전용 주차장 있음
