doctype html 
html 
    include includes/head.pug
    body
    #accordionFlushExample.accordion.accordion-flush
        .accordion-item
            h2#flush-headingOne.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                    | Accordion Item #1
            #flush-collapseOne.accordion-collapse.collapse(aria-labelledby='flush-headingOne' data-bs-parent='#accordionFlushExample')
                .accordion-body
                    | Placeholder content for this accordion, which is intended to demonstrate the 
                    code .accordion-flush
                    |  class. This is the first item&apos;s accordion body.
        .accordion-item
            h2#flush-headingTwo.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                    | Accordion Item #2
            #flush-collapseTwo.accordion-collapse.collapse(aria-labelledby='flush-headingTwo' data-bs-parent='#accordionFlushExample')
                .accordion-body
                    | Placeholder content for this accordion, which is intended to demonstrate the 
                    code .accordion-flush
                    |  class. This is the second item&apos;s accordion body. Let&apos;s imagine this being filled with some actual content.
        .accordion-item
            h2#flush-headingThree.accordion-header
                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
                    | Accordion Item #3
            #flush-collapseThree.accordion-collapse.collapse(aria-labelledby='flush-headingThree' data-bs-parent='#accordionFlushExample')
                .accordion-body
                    | Placeholder content for this accordion, which is intended to demonstrate the 
                    code .accordion-flush
                    |  class. This is the third item&apos;s accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.
