doctype html 
html 
    include includes/head.pug
    body
        h5 최종 추천 코스
        .wrapper_total_last
            input#check-btn(type='checkbox')
            label(for='check-btn') 편의시설 정보 더보기 
            ul.menubars
                li 장애인 화장실 있음
                li 입구에 방지턱이 있어 휠체어 접근이 어려움
            form#form_result_res(action="/resultRes", method="get")
                ul
                    li.rank_1_tour 관광지: 경복궁
                    li.rank_1_tour ※ 상세 정보: 세종 문화회관은 시민의 문화향수 기회를 확대하고 문화창달에 기여할 수 있기 위해 1999년 7월 1일 재단법인으로 출범하였다.
                
                ul 
                    li.rank_1_res 음식점: 가시리
                    li.rank_1_res ※ 주소: 서울특별시 종로구 종로31가길 25-5
                ul 
                    li.rank_1_hotel 호텔: 신라스테이
                    li.rank_1_hotel ※ 주소: 서울특별시 종로구 문화대로 33
            img(src="./images/p1.jpg" width="310")
            img(src="./images/p2.jpg" width="320")
            img(src="./images/p3.jpg" width="295")

