* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --font-color: #efebe9;
  --button-color: ##a98274;
  --background-color: #4b2c20;

  --super-size: 70px;
  --big-size: 40px;
  --quot-size: 30px;
  --mid-size: 25px;
  --small-size: 15px;
  --mini-size: 10px;
  --micro-size: 5px;
}

body {
  background-image: url("./images/background_.jpg");
  background-size: 1400px 740px;
}

header {
  margin: 0;
  display: flex;
  background-color: var(--background-color);
  color: var(--font-color);
  position: sticky;
  justify-content: space-between;
}

header > h2 {
  font-size: var(--mid-size);
  padding-left: var(--mini-size);
  padding-right: var(--mini-size);
  justify-content: space-between;
}

.main {
  position: absolute;
  top: 50%;
  left: 40%;
}

.enjoy {
  padding: var(--micro-size);
}

#login,
#join {
  font-size: var(--quot-size);
  border-radius: var(--mid-size);
  margin: var(--mini-size);
  padding: var(--mini-size);
  border-style: none;
}

.wrapper_login {
  position: absolute;
  top: 45%;
  left: 40%;
}

#form_login {
}
